@media only screen and (max-width: 960px) {
    #nav {
        position: static;
        min-width: 0;
        min-height: 30px;
    }

    #nav .nav-holder, #nav ul {
        max-width: 100%;
        clear: both;
    }

    #header {
        margin: 2px 40px 0 10px;
    }

    #container {
        width: 100%;
        margin-top : 10px;
    }

    #sidebar {
        display: none;
    }

    #main, .home #main {
        width: 100%;
    }

    #main article, .home #main article, #main #prevnext {
        width: 98%;
        border: 0;
        padding: 1%;
        min-width: 0;
    }

    #main article .excerpt {
        width: 75%
    }

    #main article .post-thumb {
        width: 23%;
        margin: 0 1%;
    }

    #main article .post-thumb img {
        max-width: 100%;
        height: auto;
    }

    #home-bio {
        width: 100%;
    }

    #home-bio .bio-picture, #home-bio .bio, #home-blog .posts .post {
        max-width: 98%;
        margin: 0;
        padding: 0 1%;
    }

    #home-bio .bio {
        margin-top: 20px;
    }

    #home-bio .bio-picture {
        width: 100%;
        text-align: center;
    }

    #home-blog .posts .post {
        margin-bottom: 20px;
    }

    #home-blog .posts .post h3 {
        margin: 0 0 10px;
        text-align: center;
    }

    #home-blog .posts .post .mini-thumb {
        width: 100%;
        text-align: center;
    }

    #home-blog .posts .post .excerpt {
        width: 100%;
    }

    #footer {
        min-width: 0;
    }
}
