@media only screen and (max-width: 960px) {
    #nav {
        position: static;
        min-width: 0;
        min-height: 30px;
    }

    #nav .nav-holder, #nav ul {
        max-width: 100%;
        clear: both;
    }

    #header {
        margin: 2px 40px 0 10px;
    }

    #container {
        width: 100%;
        margin-top : 10px;
    }

    #sidebar {
        width: 23%;
        margin: 10px 1% 0;
    }

    #sidebar img.avatar {
        max-width: 100%;
    }

    #main {
        width: 75%;
    }

    .home #main {
        width: 100%;
    }

    #main article, .home #main article, #main #prevnext {
        width: 98%;
        margin: 1%;
        border: 0;
        min-width: 0;
    }

    #main article .excerpt {
        width: 75%
    }

    #main article .post-thumb {
        width: 23%;
        margin: 0 1%;
    }

    #main article .post-thumb img {
        max-width: 100%;
        height: auto;
    }

    #home-bio .bio-picture, #home-bio .bio, #home-blog .posts .post {
        max-width: 98%;
        margin: 0 1%;
    }

    #home-bio aside.bio-picture {
        width: 30%;
        margin: 10px 0 0;
        text-align: center;
    }

    #home-bio article.bio {
        width: 64%;
        margin: 20px 1% 0;
    }

    #home-blog .posts .post {
        float: none;
        margin: 0 auto 20px;
        max-width: 98%;
    }

    #home-blog .posts .post h3 {
        margin: 0 0 10px;
        text-align: center;
    }

    #home-blog .posts .post .mini-thumb {
        width: 100%;
        text-align: center;
    }

    #home-blog .posts .post .excerpt {
        width: 100%;
    }

    #footer {
        min-width: 0;
    }
}

@media only screen and (max-width: 700px) {
    #home-bio aside.bio-picture, #home-bio article.bio {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    #main {
        width: 100%;
    }

    #sidebar {
        width: 200px;
        max-width: 100%;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
}
